.gridWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.card {
    border-radius: 2vmin;
    border-color: black;
}
.card > h6 {
    font-size: medium;
}
.card > p {
    font-size: small;
}