.disableScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 0.5;
  background-color: black;
}

h2{
  font-size: 5vh;
  margin: 0vh 0.75vh;
}

p{
  font-size: 2.5vh;
  margin: 0vh 0.75vh
}

.scheduleWrapper {
  position: relative;
  white-space: pre-wrap;
}

.calendarWrapper {
  display: flex
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vh;
  padding: 1vh;
  width: 60vw;
}

.card {
  position: relative;
  border-color: rgb(0, 0, 0);
  border: solid;
  border-width: 0.75vh;
  padding: 1vh;
  height: 7.2vh;
}
.card > h6 {
  font-size: 2.2vh;
  margin: 0%;
}
.card > p {
  font-size: 1.7vh;
  margin: 0%;
}
.shaded {
  opacity: 0.3;
}

.empty {
  border-color: rgb(218, 134, 180);
  background-color: rgb(255, 242, 249);
}


.next1 {
  border-color: white;
}



.purple {
  border-color: rgb(60, 50, 204);
  background-color: rgb(240, 230, 250);
}

.orange {
  border-color: rgb(219, 40, 0);
  background-color: rgb(255, 226, 208);
}

.important {
  border-color: rgb(255, 149, 0);
  background-color: lemonchiffon;
}

.divider {
  width: 1vw;
  background-color: var(--pink);
  margin-right: 0.5vw;
}

.optionsWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1vh;
  height: 70vh;
  align-items: center;
}

.optionsButton {
  background-color: var(--pink);
  border-radius: 1vh;
  border-color: crimson;
  border-width: 0.5vh;
  margin: 1vh;
  width: 9vw;
  font-size: 2.5vh;
  color: white;
  transition-duration: 0.2s;
}

.optionsButton:hover {
  background-color: rgb(174, 0, 61);
  color: rgb(255, 203, 223);
}

.optionCard {
  width: 10vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.optionCard > h6 {
  font-size: 1.75vh;
  margin: 0%;
}
.optionCard > p {
  display: none;
}

.activeOptionCard {
  border-style: dashed;
}

.deleteEventBox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0vh;
  right: 0vw;
  width: 3vh;
  height: 3vh;
  font-size: 2vh;
}

.next2 {
  border-color: black;
  border-style: dashed;
  background-color: white;
}

.ghost {
  border-style: dashed;
  opacity: 0.9;
}