.optionsBox-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: absolute;

  top: 61vh;
  left: 26%;
  height: 18vh;
  width: 48%;
}

.optionsBox-text {
  padding: var(--s);
  background: var(--lighterpink);
  overflow-y: auto;
  border: pink var(--xs) solid;
  border-radius: var(--xs);
  transition: 0.3s;
}

.scriptBox-container {
  position: absolute;
  top: 50vh;
  height: 29vh;
  background: var(--lightpink);
  left: 25%;
  border: var(--pink) 4px solid;
  border-radius: var(--s);
  margin-top: var(--m);
  width: 50%;
  margin: 0px;
}

.scriptBox-text {
  padding: var(--s);
  overflow-y: auto;
}

.screenBackground {
  height: 80vh;

  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../11469.jpg");
}

.characterPortrait {
  position: absolute;
  left: 25%;
  top: -10vh;
  height: 80vh;
  width: 50%;
  margin: auto;
  background-size: 80vh;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

.cP_flus {
  background-image: url("../../../martin_states/martin_flustered.png");
}
.cP_gloom {
  background-image: url("../../../martin_states/martin_gloomy.png");
}
.cP_neut {
  background-image: url("../../../martin_states/martin_neutral.png");
}
.cP_ibuk {
  background-image: url("../../../martin_states/martin_ibuki.png");
}
.cP_rizz {
  background-image: url("../../../martin_states/martin_rizz.png");
}
.cP_myst {
  background-image: url("../../../martin_states/martin_wants_to_launch.png");
}
.cP_empty {
  background-image: url("../../../Empty.png");
}

.dialogueFullScreen {
  position: relative;
  height: 80vh;
}

.disableScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0vh;
  left: 0vw;
  opacity: 0.65;
  background-color: black;
}

.optionsBox-text:hover {
  background-color: rgb(255, 0, 153);
  color: white;
}
