.optionsBox-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: absolute;

  top: 80vh;
  left: 25vw;
  height: auto;
  width: 48vw;

  border: pink 2px solid;
  border-radius: var(--xs);
}

.optionsBox-text {
  padding: var(--s);
  background: var(--lighterpink);
  /* border-radius: var(--xs); */
  overflow-y: auto;
  height: 2vh;
  border: solid;
  border-color: pink;
  transition: 0.3s;
}

.scriptBox-container {
  position: absolute;
  top: 70vh;
  right: 25vw;
  border: var(--pink) 4px solid;
  border-radius: var(--s);
  margin-top: var(--m);
  width: 50vw;
  margin: auto;
}

.scriptBox-text {
  padding: var(--s);
  background: var(--lightpink);
  border-radius: var(--xs);
  height: 23vh;
  overflow-y: auto;
}

.screenBackground {
  height: 100vh;

  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../11469.jpg");
}

.characterPortrait {
  position: absolute;
  right: 25vw;
  top: 10vh;
  height: 90vh;
  width: 50vw;
  margin: auto;
  background-size: 100vh;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

.cP_flus {
  background-image: url("../../../martin_states/martin_flustered.png");
}

.cP_gloom {
  background-image: url("../../../martin_states/martin_gloomy.png");
}

.cP_neut {
  background-image: url("../../../martin_states/martin_neutral.png");
}

.cP_neut {
  background-image: url("../../../martin_states/martin_neutral.png");
}

.cP_ibuk {
  background-image: url("../../../martin_states/martin_ibuki.png");
}

.cP_rizz {
  background-image: url("../../../martin_states/martin_rizz.png");
}

.cP_myst {
  background-image: url("../../../martin_states/martin_wants_to_launch.png");
}

.cP_empty {
  background-image: url("../../../Empty.png");
}

.dialogueFullScreen {
  position: relative;
  height:100vh;
}

.disableScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0vh;
  left: 0vw;
  opacity: 0.65;
  background-color: black;
}

.optionsBox-text:hover {
  background-color: rgb(255, 0, 153);
  color: white;
}
